@media only screen and (max-width: 576px) {
  #dropdown {
    display: inline;
  }
  #ddresume {
    display: none;
  }
  #ddcontact {
    display: block;
  }
  #contact {
    display: none;
  }
  #ddresume {
    display: block;
  }
  #resume {
    display: none;
  }
  .description {
    font-family: "Times New Roman", Times, serif;
    display: block;
    color: black;
    background-color: black;
    text-align: left;
    font-size: 12px;
    line-height: 2;
  }
  .date {
    float: left;
    text-align: left;
  }
}

@media only screen and (min-width: 576px) {
  #dropdown {
    display: inline;
  }
  #ddresume {
    display: none;
  }
  #ddcontact {
    display: block;
  }
  #contact {
    display: none;
  }
  .date {
    float: left;
    text-align: right;
  }
  .description {
    font-family: "Times New Roman", Times, serif;
    display: block;
    color: black;
    background-color: black;
    text-align: left;
    font-size: 14px;
    line-height: 2;
  }
}

@media only screen and (min-width: 768px) {
  .description {
    font-family: "Times New Roman", Times, serif;
    display: block;
    color: black;
    background-color: black;
    text-align: left;
    font-size: 18px;
    line-height: 2;
  }
}

@media only screen and (min-width: 1000px) {
  #dropdown {
    display: none;
  }
  #ddresume {
    display: none;
  }
  #resume {
    display: inline;
  }
  #contact {
    display: inline;
  }
}
#profile-picture
{
  background: url('./pictures/me.jpg');
  float: left;
  height: 300px;
  width: 30%;
}
#mainmenu {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 10x;
  background-color: black;
  color: white;
}

.menubutton {
  height: 30px;
}
.menubutton:hover {
  color: #d2b48c;
}

hr {
  height: 2px;
  width: 100%;
}

li {
  font-family: "Times New Roman", Times, serif;
  list-style-type: none;
  float: left;
  margin-right: 120px;
  margin-top: 0px;
  height: 10px;
  text-align: center;
}
#mainbody {
  margin-top: 70px; 
  width: 60%;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  color: black;
  background-color: white;
  padding: 20px;
}
hr
{
  color: black;
}

#body
{
  min-height: max-content;
  position: relative;
}

iframe
{
  margin-bottom: 20px;
}

#name
{
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 40px;
  height:40px;
  float: right;
  color: white;
}
#footer
{
  background-color: black;
  color: white;
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
  height: 40px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-top: 10px;
}
img
{
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
.piccaption {
  text-align: center;
  width: 300px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
  font-size: large;
}
#projectsbody a {
  display: block;
  float: left;
  height: 400px;
}

h1{
  text-align: center;
  width: 100%;
}

#projectsbody {
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 45px;
  width: 80%;
  right: 0px;
  left: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.project {
  font-family: "Times New Roman", Times, serif;
  height: 200px;
  margin-top: 20px;
  float: right;
  width: 45%
}

.projectpics {
  margin-top: 20px;
  float: right;
  height: 400px;
}

p {
  font-family: "Times New Roman", Times, serif;
  margin-left: 20px;
}

#projectlink {
  font-family: "Times New Roman", Times, serif;
  color: blue;
}

#projectlink:hover {
  font-family: "Times New Roman", Times, serif;
  color: tan;
}