#mainmenu {
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  height: 60px;
  padding-top: 15px;
  padding-bottom: 10x;
  background-color: black;
  color: white;
}

#mainmenu span
{
  float: right;
}

#profile-picture {
  float: left;
  height: 400px;
  width: 335;
}

.menubutton {
  height: 30px;
}

.menubutton:hover {
  color: #d2b48c;
}

hr {
  height: 2px;
  width: 100%;
}

#mainbody {
  margin-top: 60px;
  font-size: 16px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  color: black;
  background-color: white;
  padding: 20px;
}

#mainbody a {
  font-size: 20px;
  text-decoration: underline;
  color: black;
}

hr {
  color: black;
}

#body {
  min-height: max-content;
  position: relative;
  background-color: lightgray;
}

iframe {
  margin-bottom: 20px;
}

#name {
  font-size: 40px;
  height: 60px;
  position: absolute;
  top: 0px;
  left:0px;
  color: white;
  text-decoration: none;
}

#footer {
  background-color: black;
  color: white;
  font-size: 20px;
  padding-top: 10px;
  text-align: center;
  height: 40px;
  width: 100%;
  position: relative;
  bottom: 0px;
  left: 0px;
  margin-top: 10px;
}

img {
  float: left;
  padding-right: 20px;
}

.piccaption {
  text-align: center;
  width: 300px;
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
  font-size: large;
}

.projectimage a {
  display: block;
  float: left;
  height: 400px;
}

#mainbody h1 {
  text-align: left;
  width: 100%;
}

.project {
  font-family: "Times New Roman", Times, serif;
  height: 200px;
  margin-top: 20px;
  float: right;
  width: 45%
}

.projectpics {
  margin-top: 20px;
  float: right;
  height: 400px;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
}

#projectlink {
  font-family: "Times New Roman", Times, serif;
  color: blue;
}

#projectlink:hover {
  font-family: "Times New Roman", Times, serif;
  color: tan;
}

i {
  margin-right: 5px;
}

#topnav {
  display: none;
}

@media only screen and (max-width: 1000px) {
  #name {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  #mainbody
  {
    margin-top: 0px;
  }
  #mainmenu {
    display: none;
  }
  #topnav {
    display: block;
    background-color: black;
    height: 60px;
    color: white;
    padding: 0px;
    font-size: 20px;
  }
  #topnav #namelink {
   position: absolute;
   color: white;
   text-decoration: none;
   top: 15px;
   left: 10px;
  }
  #navbutton {
    background-color: lightgray;
    float: right;
    height: 60px;
    padding-top: 20px;
  }
  #mylinks {
    display: block;
    position: absolute;
    top: 60px;
    background-color: grey;
    color: white;
    width: 100%;
    padding-left: 0px;
    opacity: 0;
    z-index: 1;
    padding-right: 0px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
  }
  #mylinks div a
  {
    color: white;
  }
  #mylinks div
  {
    height: 40px;
    padding-top: 5px;
  }
  #mylinks div:hover
  {
    background-color: white;
  }
  #mylinks div:hover a
  {
    color: black;
  }
  #dropdownMenuButton {
    height: 40px;
    background-color: lightgray;
    position: sticky;
  }
  .description {
    font-family: "Times New Roman", Times, serif;
    display: block;
    color: black;
    text-align: left;
    font-size: 14px;
    line-height: 2;
  }
  #profile-picture {
    float: left;
    height: 200px;
    width: 168;
  }
  #mainbody p {
    font-size: 12px;
  }
}