@media only screen and (max-width: 576px) {

#resumebody
{
font-size: 12px;
}
.description
{
font-family: "Times New Roman", Times, serif;
display: block;
    color: black;
    background-color: black;
  text-align: left;
  font-size: 12px;
  line-height: 2;
}
.date
{
float:left;
text-align: left;
}
}
@media only screen and (min-width: 576px) {
#resumebody
{
font-family: "Times New Roman", Times, serif;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
padding-bottom: 20px;
padding: 10px;
font-size: 14px;

}
.date
{
float:left;
text-align: right;
}
.description
{
font-family: "Times New Roman", Times, serif;
display: block;
    color: black;
    background-color: black;
  text-align: left;
  font-size: 14px;
  line-height: 2;
}
}
@media only screen and (min-width: 768px) {
#resumebody
{
font-size: 18px;
}
#resumebody p
{
padding-left: 50px;
}

.description
{
font-family: "Times New Roman", Times, serif;
display: block;
    color: black;
    background-color: black;
  text-align: left;
  font-size: 18px;
  line-height: 2;
}
}
@media only screen and (min-width: 1000px) {
.slidecontainer {
    width: 100%; /* Width of the outside container */
    position: absolute;
    top: 400px;
}

#slideshow
{
   width: 1000px;
   height: 500px; 
   background-image : url(./pictures/slideshow1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
    background-position: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 0px;
   position: relative;
   margin-top: 40px;
}
#slideshowtext
{
font-family: "Times New Roman", Times, serif;
display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top : 0px;
  left:0px;
  height: 500px;
  width: 300;
  text-align: center;
  font-size: 35px;
}

}

#mainmenu
{
float: left;
position: absolute;
top: 0px;
margin-top: 0px;
font-family: "Times New Roman", Times, serif;
font-size: 30px;
margin-bottom: 30px;
}
/*#education:hover
{
font-size: 40px;
color: blue;
}
#projects:hover
{
  font-size: 40px;
  color: grey;
}

#home:hover
{
  color: tan;
font-size: 20px;
}
#resume:hover
{
font-size: 30px;
color: maroon;
}
#aboutme:hover
{
font-size: 30px;
color: orange;
}
#contact:hover
{
color: green;
  font-size: 25px;
}
*/
.menubutton
{
height: 30px;
}
.menubutton:hover
{
  color: blue;
}
.maroon
{
color: maroon;
}
.blue
{
color: blue;
}
.tan
{
color:tan;
}
#resumebody
{
font-family: "Times New Roman", Times, serif;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
padding-bottom: 20px;
padding: 10px;
}
.mainmenu a:visited
{
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
    font-family: "Times New Roman", Times, serif;
}
.mainmenu a:hover
{
font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    margin-bottom: 10px;
    color: tan;
}
.mainmenu a:active
{
font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    margin-bottom: 10px;
    color: tan;
}
hr
{
height: 2px;
width: 100%;
}
li
{
font-family: "Times New Roman", Times, serif;
    list-style-type: none;
    float: left;
    margin-right: 120px;
    margin-top: 0px;
    height: 10px;
    text-align: center;

}
/*
#body
{
font-family: "Times New Roman", Times, serif;
background-color: rgb(0,0,0);
margin: 0px;
}
*/
#mainbody
{
margin-top: 20%;
}
/*
#mainbody
{
font-family: "Times New Roman", Times, serif;
background-color:rgb(0,0,0);
width: 80%;

height: 100%;
display: block;
margin-left: auto;
margin-right: auto;
font-size: 30px;

}
*/
#slideshow
{
opacity: 0;
transition:.8s ease-in-out;
   height: 500px; 
   background-image : url(./pictures/slideshow1.jpg);
   background-size: cover;
   background-repeat: no-repeat;
    background-position: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 0px;
   position: relative;
   margin-top: 40px;
}
#slideshowtext
{
font-family: "Times New Roman", Times, serif;
display: block;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top : 0px;
  left:0px;
  height: 500px;
  width: 300;
  text-align: center;
  font-size: 35px;
}
.piccaption
{
  text-align: center;
  width: 250px;
  display: block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2;
}
#left
{
width: 50;
   height: 50px; 
   background-image : url(./pictures/left.png);
   -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-size: cover;
   position: fixed;
   top: 250px;
   left: 20px;
   z-index: 2;
}
#right
{
width: 50;
   height: 50px; 
   background-image : url(./pictures/right.png);
   -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-size: cover;
    position: fixed;
   top: 250px;
   right: 20px;
   z-index: 2;
}
#projectsbody a
{
  display: block;
float: left;
height: 400px;
}
#projectsbody
{
font-family: "Times New Roman", Times, serif;
  position: absolute;
  top: 45px;
  width: 80%;
  right:0px;
  left: 0px;
  display: block;
  margin-left:auto;
  margin-right:auto;
}
.project
{
font-family: "Times New Roman", Times, serif;
  height: 200px;
  margin-top: 20px;
  float: right;
  width:45%
}
.projectpics
{
  margin-top: 20px;
  float: right;
  height: 400px;
}
p
{
font-family: "Times New Roman", Times, serif;
margin-left: 20px;
}
/*
.screenshot
{
  width: 100%;
  float: left;
  margin-bottom: 15px;
  opacity: 0;
  transition: .8s;
}*/
.headergrey
{
font-family: "Times New Roman", Times, serif;
color: grey;
font-size: 35px;
font-style: bold;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
float: right;
height: 30px;
width: 100%;
margin-bottom: 5px;
}

.headermaroon
{
font-family: "Times New Roman", Times, serif;
color: maroon;
font-size: 35px;
font-style: bold;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
float: right;
height: 22px;
width: 100%;
}
.headertan
{
font-family: "Times New Roman", Times, serif;
font-size: 35px;
color: tan;
font-style: bold;
text-align: center;
margin-top: 10px;
margin-bottom: 10px;
float: right;
height: 30px;
width: 100%;
margin-bottom: 5px;
}
#emailme
{
font-family: "Times New Roman", Times, serif;
  float: left;
  margin-top: 80px;
  margin-left: 40px;
  width: 380px;
}
#title
{
font-family: "Times New Roman", Times, serif;
  text-align: center;
  padding-left: 80px;
font-size: 40;
}

input[type=text]
{
font-family: "Times New Roman", Times, serif;
 border-width: 2px;
  border-color: grey;
  border-style: solid;
  width: 300px;
  height: 30px;
  margin-bottom: 5px;
  background-Color: white;
  opacity: 0;
  
  
}
input[type=submit]
{
font-family: "Times New Roman", Times, serif;
  width: 150px;
  height: 30px;
  margin-left: 228px;
  margin-top: 5px;
  background-color: white;
  border-style:groove;
  font-size: 20px;
  opacity: 0;

}
input[type=submit]:hover
{
font-family: "Times New Roman", Times, serif;
  width: 150px;
  height: 30px;
  margin-left: 228px;
  margin-top: 5px;
  background-color: white;
  border-style:groove;
  color: black;
  font-size: 20px;

}
textarea
{
font-family: "Times New Roman", Times, serif;
  width: 300px;
  resize: none;
  background-Color: white;
  border-color: grey;
  opacity: 0;
   border-width: 2px;
  border-color: grey;
  border-style: solid;
}

th
{
font-family: "Times New Roman", Times, serif;
text-align: left;
width: 80px;
}

#insta 
{
font-family: "Times New Roman", Times, serif;
background-image: url(./pictures/instagram.png);
height: 64px;
width: 65px;
display: block;
float: left;
margin-left: 30px;

}
#projectlink
{
font-family: "Times New Roman", Times, serif;
  color: blue;
}
#projectlink:hover
{
font-family: "Times New Roman", Times, serif;
  color: tan;
}
#airplane
{
  margin-top:70px;
  margin-left:40px;
  float: left;
}

.important
{
font-family: "Times New Roman", Times, serif;
color: grey;
}
.important2
{
font-family: "Times New Roman", Times, serif;
color: white;
}
#java
{
font-family: "Times New Roman", Times, serif;
color: maroon;
font-style: italic;
}
#cpp
{
font-family: "Times New Roman", Times, serif;
color: blue;
font-style: italic;
}
#visualbasic
{
font-family: "Times New Roman", Times, serif;
color: tan;
font-style: italic;
}
#description1
{
font-family: "Times New Roman", Times, serif;
display: none;
}
#description2
{
font-family: "Times New Roman", Times, serif;
display: none;
}
#description3
{
font-family: "Times New Roman", Times, serif;
display: none;
}
#description4
{
font-family: "Times New Roman", Times, serif;
display: none;
}
#description5
{
font-family: "Times New Roman", Times, serif;
display: none;
}
#description6
{
font-family: "Times New Roman", Times, serif;
display: none;
}
#description7
{
font-family: "Times New Roman", Times, serif;
display: none;
}
#description8
{
font-family: "Times New Roman", Times, serif;
display: none;
}
#description9
{
font-family: "Times New Roman", Times, serif;
display: none;
}
#description10
{
font-family: "Times New Roman", Times, serif;
display: none;
}

#educationbody
{
font-family: "Times New Roman", Times, serif;
display: block;
margin-left: auto;
margin-right: auto;
font-size: 20px;
margin-top: 100px;
font-family: "Times New Roman", Times, serif;
}
#educationbody p
{
font-family: "Times New Roman", Times, serif;
  line-height: 2;
  text-indent: 50px;
  font-family: sans-serif;
}
#scroll
{
display: none;
}

#resume
{
font-size:30px;
}
.address
{
font-family: "Times New Roman", Times, serif;
text-align: center;
}

.descriptionresume
{
font-family: "Times New Roman", Times, serif;
}
#resumebody h2
{
font-size: 35px;

}
.headerCV
{
text-align: center;
width: 100%;
}
.date
{
font-family: "Times New Roman", Times, serif;
}
.name
{
font-family: "Times New Roman", Times, serif;
text-align: center;
}

#contactinfo
{
font-family: "Times New Roman", Times, serif;
width: 55%;
font-size: 50px;
display: block;
margin-left:auto;
margin-right: auto;
float: left;
margin-top: 100px;
margin-left:60px;
}

#resumebody .job
{
margin-bottom: 30px;
}

